.App {
}
.forhorizont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 300px;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 45px;
}
.vertical {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  gap: 2px;
}

.item {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.activeItem {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.letters-with-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonWrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
