.App {
}
.forhorizont {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-left: 300px;
  width: 600px;
  height: 600px;
  border: 1px solid black;
}
.horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 45px;
}
.vertical {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 550px;
  height: 550px;
  gap: 2px;
}

.item {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  cursor: pointer;
}
.activeItem {
  background-color: red;
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.letters-with-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.buttonWrap {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.first {
  width: 100%;
  height: 792px;
  background-image: url(./assets/1_91_3840x2160_logo_admiral_hipper_ru_d496a3ed808723d8929f453103e0fffd.jpg);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.first > button {
  margin-bottom: 100px;
  width: 250px;
  height: 70px;
  border-radius: 25px;
  background: none;
  color: white;
  font-size: large;
  border: 0.2px solid;
  cursor: pointer;
}
